<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid bg-dark text-light">
        <div class="row m-3 p-5">

            <div class="col-md">
                <h1>Black Widow</h1>
                <p>Identity: Natasha Romanov</p>
                <h2>Superpowers</h2>
                <p>Expert Spy</p>
                <p>Master in Hand-to-Hand Combat</p>
                <p>Expert Tactician</p>
                <h2>Weakness</h2>
                <p>Guilt</p>
                <p>Brainwashing</p>
                <h2>Contacts</h2>
                <p>Twitter: Natalie Rushman</p>
                <p>Instagram: Natalie Rushman</p>
                <p>Facebook: Natalie Rushman</p>
                <p>Email: natalierushman@gmail.com</p>
            </div>

            <div class="col-md">
                <img src="/static/images/black_widow.jpg" alt="Black Widow" width="500">
            </div>

        </div>
    </div>

</body>

</html>