{% extends 'theme.html' %}



{% block content %}

<a href="/hero/spiderman">
    <img class="Hero" src="/static/images/spiderman1610.jpg" alt="spiderMan" width="190">
</a>

<a href="/hero/blackpanther">
    <img class="Hero" src="/static/images/blackPanther.png" alt="blackPanther" width="190">
</a>

<a href="/hero/blackwidow">
    <img class="Hero" src="/static/images/black_widow.jpg" alt="blackWidow" width="190">
</a>

<a href="/hero/ironman">
    <img class="Hero" src="/static/images/iron_man.jpg" alt="ironMan" width="190">
</a>

<a href="/hero/wintersoldier">
    <img class="Hero" src="/static/images/wintersoldier.jpg" alt="winterSoldier" width="190">
</a>

{% endblock content %}